.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
  .navbar{
  	line-height: 40px;
  }
  .nav-link{
  	font-size: 20px;
  	margin: 20px;
  }
  header{
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    margin: 0;
    background-color: #d8f7ff;
  }
  header span{
    font-weight: bold;
  }
  .image-container{
    margin: 50px;
    padding: 0;
  }
  #mainImg{
    width: 100%;
  }
  .row{
    width: 100%;
    height: 10%;
    margin-top: 20px;
  }
  .col-sm{
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
  .smallImg{
    width: 100%;
    height: 100%;
  }
  #left{
    width: 50%;
    float: left;
    left: 0;
    z-index: 1;
    margin-left: 0;
    margin-right: 0;
  }
  #right{
    padding-left: 0%;
    width: 40%;
    top: 0;
    left: 50%;
    float: left;
    margin-top: 160px;
    margin-left: 15px;
    position: absolute;
    font-size: 100%;
  }
  .checked-star{
    color: orange;
  }
  #money{
    color: #00f6ff;
    font-size: 60px;
  }

  .bold{
      font-weight: bold;
      color: teal;
    }
    .info-specify{
        margin-top: 30px;
        font-weight: lighter;
        color: #2db7c4;
    }
    .description{
        margin-top: 30px;
    }
    .description ul li{
        list-style-type: none;
    }
    .fa-dot-circle{
        font-size: 20px;
    }
    .dropdown{
        margin-top: 15px;
    }
    #qty{
        margin-top: 15px;
    }
    #addCart{
        margin-top: 15px;
    }
    .cartItem img{
        height: 10%;
        width: 10%;
    }
    